@import "~normalize.css";

@value font-family-default: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

body {
  font-family: font-family-default;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 380px;
}

input {
  box-sizing: border-box;
}
