.Button {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  color: #fff;
  text-transform: capitalize;
  background-color: #2f79ec;
}

.Button:active {
  background-color: #1761d4;
}
