@value medium from "../shared-styles/mediaBreakpoints.css";

.CardNumber {
  font-family: "Inconsolata", monospace;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

@media medium {
  .CardNumber {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}
