@value medium from "../shared-styles/mediaBreakpoints.css";

.CardName {
  flex-basis: 70%;
  flex-grow: 0;
  flex-shrink: 1;
}

.CardName__label {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #c5c5c5;
}

.CardName__name {
  font-family: "Inconsolata", monospace;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

@media medium {
  .CardName__label {
    font-size: 1.2rem;
  }

  .CardName__name {
    font-size: 1.4rem;
  }
}
