.CardCvv {
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
